	.a-header{
		text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 30px;
	color: #219F94;
	}
	.m-text{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	/* identical to box height */
	text-align: center;
	color: #219F94;
	padding: 0;
	margin: 0;
	}
	.m-text-2{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	padding-top: 20px;
	color: #6D6B6B;
	}
	.b-mulai{
		width: 240px;
	height: 84px;
		background: #219F94;
	box-shadow: 4px 14px 50px rgba(19, 71, 122, 0.4);
	border-radius: 35px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
	border: 0;
	}
	.bg1{
		background-image: url("../../img/bg.png");
		width: 100%;
		height: auto;
		background-size: 100% 100%;
	}
	.bg2{
		background-image: url("../../img/bg2.png");
		width: 100%;
		height: auto;
		background-size: auto 100%;
	}
	.title-tk{
		position: absolute;
	width: 144px;
	height: 30px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	/* identical to box height */


	color: #219F94;
	}
	.text-berwakaf{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;

	color: #333333;
	padding-top: 30px;
	}
	.text-platform{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;

	color: #6D6B6B;
	padding-top: 30px;
	}
	.b-lengkap{
	width: 214px;
	height: 75px;

	background: #219F94;
	border-radius: 35px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
	border: 0;
	}
	.img-video{
		padding-top: 80px;
		width: 100%;
		height: auto;
		background-size: 100% 100%;
	}
	.img-icon{
		position: absolute;
	width: 117px;
	height: 117px;

	background: #219F94;
	}
	.t-kategori{

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */


	color: #333333;
	padding-top: 50px;
	}
	.text-kategori{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;

	color: #333333;
	padding-top: 40px;
	}
	.p-dominasi{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 70px;

	color: #333333;
	}
	.t-psw{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;

	color: #333333;
	padding: 5px;
	margin: 0;
	}
	.text-psw{
		font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;

	color: #6D6B6B;
	padding: 5px;
	}
	input[type=range] {
   -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 5px;
   background: #ddd;
   border: none;
   border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: goldenrod;
   margin-top: -4px;
}
input[type=range]:focus {
   outline: none;
}
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #ccc;
}
input[type=range] {
   /* fix for FF unable to apply focus style bug  */
   border: 1px solid white;
   /*required for proper track sizing in FF*/
   width: 100%;
}
 input[type=range]::-moz-range-track {
   width: 300px;
   height: 5px;
   background: #ddd;
   border: none;
   border-radius: 3px;
}
 input[type=range]::-moz-range-thumb {
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
   outline: 1px solid white;
   outline-offset: -1px;
}
 input[type=range]:focus::-moz-range-track {
   background: #ccc;
}

/* for ie */

input[type=range]::-ms-track {
   width: 300px;
   height: 5px;

/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
   background: transparent;

/*leave room for the larger thumb to overflow with a transparent border */
   border-color: transparent;
   border-width: 6px 0;

/*remove default tick marks*/
   color: transparent;
}
input[type=range]::-ms-fill-lower {
   background: #777;
   border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
   background: #ddd;
   border-radius: 10px;
}
input[type=range]::-ms-thumb {
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
   background: #888;
}
input[type=range]:focus::-ms-fill-upper {
   background: #ccc;
}
.text-target{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 550;
	font-size: 13px;


	color: #333333;
}
.btn-wakaf{
	background: #219F94;
	border-radius: 35px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;

	text-align: center;

	color: #FFFFFF;
	padding: 15px;
	border: 0;
}
.duaplus{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 75px;
	line-height: 70px;
	/* identical to box height */

	margin-bottom: 0;
	color: #219F94;
}
.rupiah{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 0;
	/* identical to box height */


	color: #219F94;
}
.b-duaplus{
	font-family: 'Poppins';
	font-weight: 500;
}
.wakaf_sukarela{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 40px;

	color: #FFFFFF;
	padding-top: 40px;
}
.wakaf_koneksi{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: #FFFFFF;
}
.b-bergabung{
	border: 0;
	background: #FFFFFF;
	border-radius: 35px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 30px;
	/* identical to box height */

	text-align: center;

	color: #219F94;
	padding: 10px 30px 10px 30px;
	border: 0;
}
.b-lihat{
	background: #219F94;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 35px;
	padding: 10px 30px 10px 30px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 30px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
}
.f-title{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
}
.f-bantu{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;

	color: #555555;
	padding-top: 30px;
}
.f-text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;

	color: #555555;
	padding-top: 20px;
}
.multi-item-carousel {
  overflow: hidden;
}
.multi-item-carousel .carousel-indicators {
  margin-right: 25%;
  margin-left: 25%;
}
.multi-item-carousel .carousel-control-prev,
.multi-item-carousel .carousel-control-next {
  background: rgba(255, 255, 255, 0.3);
  width: 25%;
  z-index: 11; /* .carousel-caption has z-index 10 */
}
.multi-item-carousel .carousel-inner {
  width: 150%;
  left: -25%;
}
.multi-item-carousel .carousel-item-next:not(.carousel-item-left),
.multi-item-carousel .carousel-item-right.active {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
}
.multi-item-carousel .carousel-item-prev:not(.carousel-item-right),
.multi-item-carousel .carousel-item-left.active {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}
.multi-item-carousel .item__third {
  float: left;
  position: relative;
  width: 33.33333333%;
}